.message {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  justify-content: space-between;
  margin: .6rem .6rem .06rem .06rem;
}

.message > p {
  background-color: #f3f3f5;
  font-size: medium;
  padding: .3rem 1rem;
  border-radius: 1.25rem;
  margin: .3rem;
  margin-right: auto;
}

.message__timestamp {
  display: flex;
}

.message__timestamp > small {
  color: gray;
  font-size: .5rem;
  width: 100%;
  text-align: center;
}

.message__sender {
  margin-left: auto;
}

.message__sender > p {
  background-color: #3cabfa;
  color: white;
}
