.sidebarChat {
  display: flex;
  align-items: center;
  padding: .6rem;
  border-bottom: .06rem solid lightgray;
  cursor: pointer;
}

.sidebarChat:hover {
  background-color: #3e9efd;
  color: white;
}

.sidebarChat__info {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  width: 100%;
}

.sidebarChat__info > small {
  position: absolute;
  top: .3rem;
  right: 0;
}
